<!DOCTYPE html>
<html>
<head>
    <title>
        student login
    </title>
    <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body><br><br><br><br><br>
    <h1>STUDENT LOGIN</h1>
    <center>
Batch Number:<input type="number" name="batchnumber"><br><br>
Password: <input type="password" name="password"><br><br>
<script>
    if(batchnumber==201080 && Password==12345)
    alert("success");
    else 
        alert('fail');
</script>
<button class='but1'>SUBMIT</button></center>
</body>
</html>