<!DOCTYPE html>
<head>
    <title>
        staff login
    </title>
    <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body><br><br><br><br><br>
    
    <center><h1>STAFF LOGIN</h1>
        <form action="/staff" method="GET">
     Username:<input type="text" name="Username" required><br><br>
Password: <input type="password" name="password" required><br><br>

<button type="submit" value="Submit" class='but1'>SUBMIT</button></center>


</form>
</body>
</html>