<!DOCTYPE html>
<head>
    <title>
        admin login
    </title>
    <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body><br><br><br><br><br>
    <h1>ADMIN LOGIN</h1>
    <center><br>
Password: <input type="password" name="password"><br><br>

<button class='but1'>SUBMIT</button></center>
</body>
</html>