<html>
    <head>
        <title>login</title>
        <link  href="/logsign.css" rel="stylesheet" type="text/css">
    </head>
<body><br><br><br><br><br><br><br><br><br><br>
    <center>    <h1>LOGIN PAGE</h1>
<form action="/student" method="GET">
Username: <input type="text" class="txt" name="username" required><br><br><br>
Password: <input type="password" class="txt" name="password" required><br><br><br>
<input type="submit" value="Submit" class="bb">
</form></center>






</body>
</html>