<!DOCTYPE html>
<html><head>
        <title>Java Notes</title>
</head>
<body>
    <h1>JAVA</h1>
    <p id="para">Java is the name of a programming language created by Sun Microsystems. This company was bought out by Oracle Corporation, which continues to keep it up to date. The latest version is Java 12, released in March 2019. However, Java 12 is not a Long Term Support (LTS) version. The latest Long Term Support (LTS) version is Java 11, released on September 25, 2018; Oracle released for the "legacy" Java 8 LTS the last free "public update".

            <br>  Java, which was called Oak when it was still being developed, is object oriented, meaning it is based on objects that work together to make programs do their jobs. Java code looks like C, C++, or C#, but code written in those languages will not work in Java in most cases without being changed
        
            <br>  Java runs on many different operating systems, including Android, the world's most popular mobile operating system (while Java continues to be used on Android, even by its maker Google, they no longer prefer Java; now Kotlin is their preferred language, that can also be used with all Java code). This makes Java platform independent. It does this by making the Java compiler turn code into Java bytecode instead of machine code. This means that when the program is executed, the Java Virtual Machine interprets the bytecode and translates it into machine code.
        
            <br><h2> Java concepts</h2>

            <br> Java was developed to achieve five main goals. 
            <br>  These are:
        <br> Java should be easy to learn, object-oriented, and distributed.
        <br>Java should be safe and strong.
        <br> Java shouldn't depend on any computer architecture or platform.
        <br>Java should function well.
        <br>Java should be able to have an interpreter written for it, and support parallelism and use dynamic typing.
       
        <br><h2> Java platform</h2>

        <br> The Java platform refers to a group of software products from Sun Microsystems.
        <br> The platform is used to develop and run Java programs. 
        <br> The platform includes the execution engine (called a Java Virtual Machine) that allows Java programs to do the same thing on different computer systems.
        
        <br> This capability of being able to develop software on one platform and running it on other platforms is called "cross-platform capability".
        
        <br>Java program example:

        <br> An example "Hello World" Java program:
        
        <br>class HelloWorld {
            <br>   public static void main(String[] args) {
                <br>       System.out.println("Hello World!"); 
                <br>    }
                <br>}

                <br><h2> Types of Java programs:</h2>

                <br> There are many types of Java programs which run differently:
        
                <br>  Java Applet - small program written in Java and that is downloaded from a website and executed within a web browser on a client computer.
                <br>  Application - executes on a client computer. If online, it has to be downloaded before being run.
                <br>  JAR file (Java archive) - used to package Java files together into a single file (almost exactly like a .zip file).
                <br>  Servlet - runs on a web server and helps to generate web pages.
                <br>  Swing application - used to build an application that has a GUI (windows, buttons, menus, etc.).
                <br>  EJB - runs on a web server and is used to develop large, complex websites.
       
                <br><h2> Benefits</h2>
        
                <br> Java is commonly used to teach students how to program as a first language, but is still also used by professionals.
        
        Java requires that each variable be initialized. Some older languages such as C, allow variables to go uninitialized, which can cause random failures with mysterious bugs.
        <br>Java requires that each method declares a return type—the method should always return a value, except if its return type is void. This also prevents bugs.
        <br> Java comes with a large set of classes and methods, the Java API that can be used without having to develop as much code "from scratch".
        <br>Unlike C, Java primitive types, such as int, are always the same size in the number of bits which helps achieve cross-platform compatibility.
        <br>Java used to be thought of as being slower than C, but that's become less important in recent years because computers are faster.
        <br>Java has exception-handling that requires a programmer to handle error-conditions such as Input/Output errors.
        <br>Code compiled on one Java platform can be run on other platforms that support Java without modification of either the source-code nor the byte-code. This means that a person can make a Java program for a Windows computer and have it run a Linux computer or a Mac computer.



</p>
    
    <h5>For more reference...</h5>
    
        <form action="https://www.youtube.com/embed/8cm1x4bC610"><button class="but">Videos is here</button></form>
       
        <br> <br>
    <form action="http://iiti.ac.in/people/~tanimad/JavaTheCompleteReference.pdf"><button class="but">Book is here</button></form>
    
   
    <style>
    h1{
        text-align: center;
         color: red;
    
    }
    .para{
            font-style: italic;
          
            font-size: 20px;
    }
    h5{
            color:black;
            font-size: 15px;
    }
    .but{
    background-color: red;
    margin: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 50%;
    padding-left: 20px;
    padding-right: 20px;
    font-style: inherit;
    
    color: white;
}
.but:hover{

background-color: red;
border-color:red;
color: black;
}
h2{

    color: salmon;
}

    
    </style>
</body>
</html>