<html>
    <head><title>signin</title>
        <link  href="/logsign.css" rel="stylesheet" type="text/css">
    </head>

<body>
<center>
    <header style="top:0px; height:50px;">

</header>
<h1>SIGNIN PAGE</h1>
<br><br>

<form action="/signinCheck" method="post" style=" padding:14px 16px;">
Name: <input type="text" class="txt" name="name" required><br><br>
Contact: <input type="text" class="txt" name="Contact" required><br><br>
Username: <input type="text" class="txt" name="username" required><br><br>
Password: <input type="password" class="txt" name="password" required><br><br>
<input type="submit" value="Submit" class="bb">
</form>

<footer style="position:fixed; bottom:0px; background-color:#bdd0ed; width:100%;">

</footer>
</body>

</html>
