<!DOCTYPE html>
<html>
    <head>
        <title>
            staff
                </title>
        <link rel="stylesheet" type="text/css" href="/java.css">
    </head>
<body>
    <center> 
    <form action="chat"><button class="button2">Chat</button></form>
    <form action="staff_notes">   <button class="button2">Notes</button></form>
</center></body>
    </html>
