<!DOCTYPE html>
<html>
<head>
    <title>Student Page</title>
    <link rel="stylesheet" type="text/css" href="/sample1.css">
</head>
<body>
    <header>
      
  
<div id="top"><br><center><h2>CHOOSE YOUR INTEREST</h2></center> </div>
<div id="header"></div></header>
<h1>SUBJECTS</h1>
<center>
<form action="student_java"><button class="but">Java</button></form>
<form action="student_python"><button class="but">Python</button></form>
<form action=""><button class="but">Javascript</button></form>
<form action=""><button class="but"></button></form></center>
<style>
.but{
color:blue;
border-color: transparent;
background-color: transparent;
font-size: 20px;
}



</style>

</body>
</html>